.git/
bin/
vendor/
.idea/
.vscode/
.DS_Store
test/
docs/
hack/
scripts/
chart/
config/
*.md
!go.mod
!go.sum
Makefile
PROJECT
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CONTRIBUTING_zh.md
CHANGELOG.md
.editorconfig
.golangci.yml
.github/
.gitignore
Dockerfile
.dockerignore
*.swp
*.swo
*.log
*.out
tmp/
.env*
